# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

FRONTEND/node_modules
BACKEND/node_modules
BACKEND/.env
TRAIN MODEL/data
TRAIN MODEL/__pycache__/
BACKEND/scripts/__pycache__/
uploads/
# models/

BACKEND/models/*.h5
TRAIN MODEL/models/*.h5

FRONTEND/dist
BACKEND/dist

DATA/

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
